.criar-quizz {
    width: 100%;
    margin-top: 106px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inserir-infos {
    width: calc(100% - 36px);
    margin-top: 28px;
    padding: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.inserir-infos input {
    width: 100%;
    height: 46px;
    margin: 0 18px 9px 18px;
    border: 1px #D1D1D1 solid;
    border-radius: 5px;
}

.inserir-infos input:last-child {
    margin: 0 18px 0 18px;
}

.inserir-infos input::placeholder {
    padding-left: 14px;
    font-size: 19px;
    font-weight: 400;
    color: #BABABA;
}

.criar-quizz button {
    width: 80%;
    max-width: 370px;
    height: 54px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #FFF5F4;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

@media (min-width: 1100px) {
    .criar-quizz {
        width: 600px;
        margin-top: 140px; 
    }

    .criar-quizz button {
        margin-top: 80px;
    }
}
