.banner{
    margin-top: 69px;
    height: 142px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);  
    position: relative;       
}
.banner img{
    width:100vw;
    height: 142px;
    object-fit: cover;  
    opacity: 0.6;
}
.banner span{
height: 142px;
width: 60vw;
font-size: 5vw;
position: absolute;
top:0;
left: 20vw;    
display: flex;
justify-content: center;
align-items: center;
color: white;
word-wrap: break-word;
text-align: center;
}
.pagina-de-quizz .pergunta{
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;     
}
.pagina-de-quizz .titulo-pergunta{
    margin-top: 42px;
    width: 90vw;
    height: 23vw;    
    background-color: #A0438D;
    font-size: 5vw;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagina-de-quizz .titulo-pergunta span{
    width: 70vw;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
.pagina-de-quizz .container-respostas{
    display: flex;
    width: 90vw; 
    flex-wrap: wrap;
    justify-content: space-between;    
}
.pagina-de-quizz .resposta {
    display: flex;
    width: 42vw;
    flex-direction: column;
    font-size: 3.4vw;    
    font-weight: 700;
    line-height: 5.8vw;
    margin-top: 3.4vw;    
}

.pagina-de-quizz .resposta img{
    width: 42vw;
    height: 30vw;
}
.respondida{    
    opacity: 0.3;
    pointer-events: none;  
}
.errada{
    color: red;
    pointer-events: none;    
}
.certa{    
    color: green;
    pointer-events: none;  
}

.pagina-de-quizz .titulo-resultado {
    background-color: #EC362D;
}

.pagina-de-quizz .container-respostas .resultado {
    width: 90vw;
    height: auto;
}

.container-respostas .resultado img {
    width: 90vw;
    height: auto;
}

.resultado p {
    font-size: 17px;
    font-weight: 700;
    margin: 9px 0 0 0;
    word-wrap: break-word;
}

.acoes {
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acoes button {
    width: 80%;
    max-width: 370px;
    height: 54px;
    font-size: 18px;
    font-weight: 400;
    color: #FFF5F4;
    background-color: #EC362D;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.acoes > div {
    margin-top: 20px;
    font-size: 21px;
    line-height: 25px;
    font-weight: 400;
    color: #818181;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
}

@media (min-width:759px) {
    .banner span{
        font-size: 39px;
    }
    .pagina-de-quizz .pergunta{
        width: 688px;
        margin:0 auto;
    }
    .pagina-de-quizz .titulo-pergunta{   
        width: 688px;
        height: 137px;    
        background-color: #A0438D;
        font-size: 23px;
    }
    .pagina-de-quizz .titulo-pergunta span{
        width: 80%;
    }
    .pagina-de-quizz .container-respostas{
        display: flex;
        width: 688px; 
    }
    .pagina-de-quizz .resposta img{
        width: 329px;
        height: 175px;
    }
    .pagina-de-quizz .resposta {
        display: flex;
        width: 329px;
        flex-direction: column;
        font-size: 20px;
        line-height: 22px;
        margin-top: 20px;
    }

    .pagina-de-quizz .titulo-resultado {
        background-color: #EC362D;
    }

    .pagina-de-quizz .container-respostas .resultado {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container-respostas .resultado img {
        width: 364px;
        height: auto;
    }

    .resultado p {
        width: 300px;
        font-size: 17px;
        font-weight: 700;
        margin: 0;
        word-wrap: break-word;
    }

    .acoes button {
        margin-top: 57px;
    }

    .acoes > div {
        margin-top: 30px;
    }
}
